.video__data {
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  .video__box {
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(35, 35, 35);
    padding: 20px;
  }
  .video__title {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .video__avatar {
    margin: 10px 0px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    font-size: 18px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  // margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
.video__add-comments {
  margin-bottom: 10px;
  .video__coment-form {
    all: unset;
  }
}
