.video-mixin {
  .video-mixin__thumb {
    height: 160px;
    width: 100%;
    background-color: ivory;
    border-radius: 7px;
  }
  .video-mixin__data {
    display: flex;
    .video-mixin__avatar {
      margin: 10px 0px;
      width: 100%;
      border-radius: 50%;
    }
    .video-mixin__title {
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
