extends base

block content
    h4 Update video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(placeholder="Description", required, type="text", name="description", value=video.description)
        input(placeholder="Hashtags (separate by comma)", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save", type="submit")