extends base

block content
    h4 Update video
    form(method="POST")
        input(name="title", placeholder="영상 제목", value=video.title, required)
        input(placeholder="설명 (페이지에 노출됨)", required, type="text", name="description", value=video.description)
        input(placeholder="해시태그 (현재 기능 없음)", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="수정", type="submit")