extends base

block content
    div.upload__container
        //- div.upload__video
            video#preview
            button#actionBtn Start Recording
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(for="video") 비디오 파일
            input(type="file", accept="video/*", required, id="video", name="video")
            label(for="thumb") 썸네일 이미지 (동영상 스크린샷 후 첨부하는 것을 추천)
            input(type="file", accept="image/*", required, id="thumb", name="thumb")
            input(placeholder="영상 제목", required, type="text", name="title", maxlength=40)
            input(placeholder="설명 (페이지에 노출됨)", required, type="text", name="description")
            input(placeholder="해시태그 (현재 기능 없음)", required, type="text", name="hashtags")
            input(type="submit", value="업로드")

//- block scripts
    script(src="/static/js/recorder.js")